<section>
  <form [formGroup]="filterForm">
    <div class="row">
      <div class="col-3">
          <input class="form-control" type="text" formControlName="text" placeholder="Search company or title">
      </div>

      <div class="col-2">
        <select class="form-control" formControlName="time">
          <option *ngFor="let tf of timeFilters" [ngValue]="tf">{{ tf.name }}</option>
        </select>
      </div>

      <div class="col-6">
        <div class="btn-group" role="group">
          <ng-container *ngFor="let sf of statusFilters">
            <input type="checkbox" class="btn-check" id="status-{{ sf.id }}" formControlName="{{ sf.name.toLowerCase() }}">
            <label for="status-{{ sf.id }}" class="btn btn-outline-secondary" >{{ sf.name }}</label>
          </ng-container>
        </div>
      </div>

      <div class="col-1 d-flex justify-content-end">
        <a routerLink="/create">
          <button class="btn btn-success" type="button">
            <i class="bi bi-plus-lg"></i>
          </button>
        </a>
      </div>
    </div>
  </form>
</section>

<section class="results">
  <table class="table table-hover">
    <thead class="sticky-top">
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of filteredJobList">
        <td [routerLink]="['/details', job.id]">{{ job.company }}</td>
        <td [routerLink]="['/details', job.id]">{{ job.title }}</td>
        <td>{{ job.status }}</td>
        <td>{{ job.updated }}</td>
        <td>
          <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/details', job.id]">
            <i class="bi bi-justify-left"></i>
          </button>
          <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/edit', job.id]">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm" [routerLink]="['/delete', job.id]">
            <i class="bi bi-x-lg"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
