<app-home-button></app-home-button>

<div class="card">
    <div class="card-body">
        <div class="row header">
            <div class="col-8">
                <h3 class="card-title">
                    <a href="{{ job?.link }}" target="_blank">
                        {{ job?.title }}
                    </a>
                </h3>
                <h4 class="card-subtitle text-muted">
                    {{ job?.company }}
                </h4>
                <p class="card-text">
                    {{ locationStr() }} - {{ job?.type }}
                </p>
            </div>
            <div class="col-4">
                <p class="card-text text-end">
                    Applied: {{ job?.applied | date: 'yyyy-MM-dd' }} <br/>
                    Updated: {{ job?.updated | date: 'yyyy-MM-dd' }} <br/>
                    Status: {{ job?.status }}
                </p>
            </div>
        </div>
        
        <div class="description">
            <h5 class="card-text">Job Description:</h5>
            <p class="card-text">{{ job?.description }}</p>
        </div>

        <div class="comment">
            <h5 class="card-text">Comments:</h5>
            <p class="card-text">{{ job?.comment }}</p>
        </div>
    </div>
</div>